table {
    width: 100%;
  }
  
  .mat-row:nth-child(even){
    background-color: #324999;
}
        
.mat-row:nth-child(odd){
    background-color: #334DA4;
}

.mat-header-row{
    background-color: #334DA4;
}

.outer{
    width : 100%;
    text-align: left;
}

.button{
    display:inline-block;
}

h4 {
    color:white
}