<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Date Column -->
    <ng-container matColumnDef="date" >
        <mat-header-cell *matHeaderCellDef><mat-radio-button> Date Heure </mat-radio-button></mat-header-cell>
      <mat-cell *matCellDef="let element"><mat-radio-button> {{element.date}} </mat-radio-button></mat-cell>
    </ng-container>
    
    <!-- Interconnexion Column -->
    <ng-container matColumnDef="interconnexion">
      <mat-header-cell *matHeaderCellDef> Interconnexion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.interconnexion}} </mat-cell>
    </ng-container>
  
    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  
