table {
    width: 100%
  }
  
  .mat-row:nth-child(even){
    background-color: #324999;
    margin-left: 2%;
}
        
.mat-row:nth-child(odd){
    background-color: #334DA4;
    margin-left: 2%;
}

.mat-header-row{
    background-color: #334DA4;
}

.outer{
    width : 100%;
    text-align: left;
}

.button{
    display:inline-block;
    margin-left: 2%;
}

h4 {
    color:white
}

.paginator {
    background: transparent;
  }