<div class="digitalClock">
    <span>Heures locales :
        <span class="digitalTime">
            <span class="time">
                <img [src]="uk" alt="">
                {{hourUK}} :
                {{minute}}:
                <span class="second">
                    {{second}}
                </span>
                <span class="time">
                    <img [src]="sp" alt="">
                    {{hour}}:
                    {{minute}}:
                    <span class="second">
                        {{second}}
                    </span>
                </span>
                <span class="time">
                    <img [src]="it" alt="">
                    {{hour}}:
                    {{minute}}:
                    <span class="second">
                        {{second}}
                    </span>
                </span>
                <span class="time">
                    <img [src]="fr" alt="">
                    {{hour}}:
                    {{minute}}:
                    <span class="second">
                        {{second}}
                    </span>
                </span>
            </span>
        </span>
    </span>
</div>
