<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <h2 class="loginTitle">Connexion à PROPHYL</h2>

                <label for="inputlogin" class="sr-only"></label>
                <input type="text" id="inputLogin" class="form-control" name="login" placeholder="Identifiant" ngModel
                    required autofocus>

                <label for="inputPassword" class="sr-only"></label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Mot de passe"
                    autocomplete="on" ngModel required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">S'identifier</button>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                    Remplissez tout les champs.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                    Identifiant ou mot de passe invalide.
                </div>
                
            </form>
        </div>
    </div>
</div>
