.login-wrapper {
    margin: 15rem auto;
    width: 30rem;
    height: 17rem;
    background-color:#242E72;
    border-radius: 5px;
}

input {
    margin-bottom: 1rem;
}

button {
    margin-bottom: 2rem;
    margin-left : 15%;
}

.loginTitle {
    color : #D8DCEC;
    font-weight: normal;
    margin-left: 30%;
    margin-bottom: 2rem;
}

.form-control {
    position : center;
    margin-left : 15%;
  }