<mat-expansion-panel class="expansion"  (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight" class="alarm-expansion">
        <mat-panel-title>
        </mat-panel-title>
          <mat-panel-title class="title" >
            <mat-icon>warning</mat-icon>
            4 nouvelles alarmes !
          </mat-panel-title>
          <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
      </mat-expansion-panel-header>
      <cf-table-alarm [alarms]="this.alarms"></cf-table-alarm>
</mat-expansion-panel>
