.alarm-expansion {
    background: #F5594C !important;
    height: 1100px;
    top: 0;
  }
  
  .expansion{
    background-color: #334DA4;
    border-radius: 0px;
  }
  
  .title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    
  }
  
  .mat-expansion-panel {
    display: flex !important;
    flex-direction: column;
  }
  .mat-expansion-panel-header {
    order: 2;
  }