<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>RTE</mat-toolbar>
    <mat-nav-list>
      <button class="button"
          mat-list-item [routerLink]="['']">
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      <button class="button"
          mat-list-item [routerLink]="['dashboard']">
        <mat-icon aria-label="Side nav toggle icon">assignment</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>prophyl</span>
    </mat-toolbar>
    <mat-expansion-panel class="expansion">
      <mat-expansion-panel-header >
        <mat-panel-title>
        </mat-panel-title>
          <mat-panel-title>
            <mat-icon>warning</mat-icon>
            4 nouvelles alarmes !
          </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Date </p>
      <p>22/03/2019 07:08:00</p>
      <p>22/03/2019 07:08:00</p>
      <p>22/03/2019 07:08:00</p>
    </mat-expansion-panel>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
