<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <img [src]="myimage">
      <mat-nav-list>
      <button class="button"
          mat-list-item [routerLink]="['home']">
        <mat-icon class="icon" aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      <button class="button"
          mat-list-item [routerLink]="['cf-dashboard']">
        <mat-icon class="icon" aria-label="Side nav toggle icon">assignment</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
